In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [2]:
pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\crab\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires: py4j
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [3]:
print("Pyspark version", pyspark.__version__)
print("Spark version", spark.version)

Pyspark version 3.5.1
Spark version 3.5.1

In [4]:
df = spark.sql("""SELECT 'hello' AS message""")

In [14]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [15]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [16]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [17]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [18]:
#Get columns that both datasets has
set(df_green.columns) & set (df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [19]:
df_green = df_green\
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [20]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [21]:
df_yellow = df_yellow\
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [22]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [23]:
#Get columns that both datasets has
set(df_green.columns) & set (df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [24]:
common_cols = []

yellow_cols = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_cols:
        common_cols.append(col)

In [25]:
common_cols

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [26]:
from pyspark.sql import functions as F

In [27]:
df_green_sel = df_green\
    .select(common_cols)\
    .withColumn('service_type',F.lit('green'))

In [28]:
df_yellow_sel = df_yellow\
    .select(common_cols)\
    .withColumn('service_type',F.lit('yellow'))

In [29]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [54]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [31]:
df_trips_data.registerTempTable('trips_data')

C:\Users\crab\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [32]:
spark.sql("""
SELECT * FROM trips_data LIMIT 10;
""").show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-01-14 13:28:09|2020-01-14 13:35:19|                 N|         1|          74|          75|              1|         1.35|        7.0|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|           1|                 0.0|       green|
|       2|2020-01-28 12:11:44|2020-01-28 12:25:21|                 N|         1|         129|         179|              1|         3.73|       13.5|  0.0|    0.5|       1.0|         0.0|                  0.3|        15.3|           1|                 0.0|       green|
|    NULL|2020-01-04 11:38:00|2020-01-04 12:11:00|              NULL|      NULL|          25|          41|           NULL|        11.19|      28.38|  0.0|    0.5|       0.0|         0.0|                  0.0|       28.88|        NULL|                NULL|       green|
|       2|2020-01-30 10:03:36|2020-01-30 10:09:55|                 N|         5|         182|         242|              1|         1.32|       12.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        12.3|           1|                 0.0|       green|
|       1|2020-01-30 20:56:17|2020-01-30 21:00:18|                 N|         1|         210|         210|              1|          0.8|        5.0|  0.5|    0.5|       0.7|         0.0|                  0.3|         7.0|           1|                 0.0|       green|
|       2|2020-01-06 14:40:15|2020-01-06 14:51:55|                 N|         1|          33|          66|              1|         1.24|        8.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|       green|
|       2|2020-01-09 18:01:49|2020-01-09 18:05:28|                 N|         1|          42|         116|              1|         0.52|        4.5|  1.0|    0.5|       0.0|         0.0|                  0.3|         6.3|           2|                 0.0|       green|
|       2|2020-01-29 04:39:21|2020-01-29 04:42:02|                 N|         1|         116|         116|              1|         0.58|        4.5|  0.5|    0.5|      0.01|         0.0|                  0.3|        5.81|           1|                 0.0|       green|
|    NULL|2020-01-09 15:01:00|2020-01-09 15:28:00|              NULL|      NULL|         223|          92|           NULL|         6.79|      20.81|  0.0|    0.0|       0.0|         0.0|                  0.3|       21.11|        NULL|                NULL|       green|
|       2|2020-01-31 08:32:25|2020-01-31 09:27:29|                 N|         1|          55|          55|              1|         9.69|       37.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        38.3|           2|                 0.0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [55]:
spark.sql("""
SELECT 
    service_type,
    count (1)
FROM 
    trips_data 
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [56]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [39]:
df_result.show()

+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|         254|         NULL|       green|   278150.7099999998|   11320.520000000002|                  854.5|                    9569.9|          13415.779999999997|                    2786.100000000019|           316342.1099999995|                                22.0|          1.138095238095238|       249.57145962406807|
|          38|         NULL|       green|   82767.60999999994|               2537.6|                  237.5|        2433.5299999999997|           3530.910000000001|                    664.1999999999991|           92221.80000000005|                                2.75|         1.1342925659472423|        151.5832342657343|
|         229|         NULL|       green|            13658.47|                689.3|                   23.0|                    388.43|                       789.1|                   132.00000000000006|                    15699.05|                               13.25|         1.2222222222222223|        8.259659863945577|
|         188|         NULL|       green|   430873.5500000019|             21162.42|                 1931.0|        19095.489999999998|           6813.590000000004|                    5714.400000000121|           486763.9999999975|                              348.75|         1.1596080910240203|         82.2765444945663|
|         232|         NULL|       green|  40609.979999999996|   1913.9499999999998|                  64.55|        1314.6000000000001|          1395.4099999999996|                   403.50000000000006|           45729.54000000001|                                5.25|          1.069767441860465|       261.16848552338536|
|          91|         NULL|       green|  250313.22000000096|   12562.130000000001|                  787.0|         8716.689999999999|           6357.610000000003|                    2745.300000000019|          281822.24999999977|                                11.0|         1.1644120707596255|        150.8649021249869|
|         134|         NULL|       green|  237161.71000000008|   10112.500000000002|                 5852.0|        17749.850000000002|           4267.540000000002|                     4513.19999999994|          280469.15000000055|                              734.25|         1.3807110815750125|        14.59256880131363|
|         241|         NULL|       green|  146435.96999999997|    4976.450000000001|                  874.5|                   5909.28|           5791.600000000003|                   1537.1999999999914|          165902.94999999992|                                82.5|         1.1257344300822563|       142.77369097091054|
|         101|         NULL|       green|   39496.08999999999|   1367.1999999999998|                  112.0|        1092.3700000000001|           952.1200000000002|                   323.99999999999994|          43368.630000000005|                                22.0|                        1.2|       195.69598389982107|
|          93|         NULL|       green|  30308.009999999995|               655.65|                  297.5|        2848.0600000000004|                     1195.75|                   314.10000000000014|           35931.47000000002|                               291.5|         1.3621399176954732|         7.39572617946346|
|         118|         NULL|       green|   4471.259999999999|                41.25|                   25.5|         90.86999999999999|           650.9100000000001|                   23.699999999999996|                     5303.49|                                 0.0|          1.169811320754717|       18.348101265822788|
|         189|         NULL|       green|   94516.57999999991|              4349.99|                 1131.0|                    7784.5|                      769.13|                   1469.4000000000015|          111309.84999999987|                              700.25|         1.2221715328467153|       100.36491477842397|
|         153|         NULL|       green|   44446.13999999999|   1739.5999999999997|                  314.0|        1898.3600000000001|           836.8100000000001|                    538.5000000000001|           49846.36000000003|                                38.5|         1.1730769230769231|        85.14134782608691|
|         221|         NULL|       green|             4423.11|                 43.0|                   25.5|         97.50999999999999|                      650.65|                   25.199999999999996|                     5278.72|                                 0.0|         1.5272727272727273|       15.346785714285716|
|         225|         NULL|       green|   327440.8000000003|             15683.28|                 1740.5|        14035.020000000002|           6848.680000000004|                    4104.900000000068|           370806.5299999992|                              257.75|          1.153555479216764|        26.19238507567757|
|          76|         NULL|       green|   519384.7100000026|   22772.819999999996|                 1959.0|        17321.469999999998|          16248.769999999977|                    5437.200000000093|           583539.5200000025|                                8.25|         1.2111475409836066|        79.12579277697994|
|         227|         NULL|       green|           145901.41|              4067.25|                  700.5|                   5313.89|          1879.9700000000003|                   1220.6999999999937|           159232.0199999999|                               41.25|          1.043778801843318|       30.871060496505184|
|          94|         NULL|       green|   82998.72000000003|   3515.6999999999994|                  562.0|        3282.3399999999997|          2794.8600000000015|                   1018.7999999999957|           94344.32000000012|                                46.5|         1.1953612845673507|        75.99355281992558|
|          52|         NULL|       green|  204883.63000000003|               6166.2|                 7813.5|        30908.170000000002|          1451.2800000000004|                    4981.799999999891|           262175.6300000012|                              6024.0|         1.2154023577652486|        5.637083707293722|
|         160|         NULL|       green|   46051.61999999998|   1986.9499999999998|                  224.0|        2058.2099999999996|          1289.8200000000002|                    539.0999999999998|          52245.800000000025|                                38.5|         1.2039473684210527|        9.662490483958676|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [57]:
df_result.registerTempTable('df_result_data')

In [58]:
spark.sql("""
SELECT 
    service_type,
    count (1)
FROM 
    df_result_data 
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green|    4792|
|      yellow|    5103|
+------------+--------+