In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://192.168.56.1:7077") \
    .appName('test') \
    .getOrCreate()

In [2]:
pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\crab\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires: py4j
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [ ]:
print("Pyspark version", pyspark.__version__)
print("Spark version", spark.version)

In [ ]:
df = spark.sql("""SELECT 'hello' AS message""")

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [5]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [6]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [7]:
#Get columns that both datasets has
set(df_green.columns) & set (df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [8]:
df_green = df_green\
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [9]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [10]:
df_yellow = df_yellow\
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [11]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [12]:
#Get columns that both datasets has
set(df_green.columns) & set (df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [13]:
common_cols = []

yellow_cols = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_cols:
        common_cols.append(col)

In [17]:
common_cols = ['VendorID',
                 'pickup_datetime',
                 'dropoff_datetime',
                 'store_and_fwd_flag',
                 'RatecodeID',
                 'PULocationID',
                 'DOLocationID',
                 'passenger_count',
                 'trip_distance',
                 'fare_amount',
                 'extra',
                 'mta_tax',
                 'tip_amount',
                 'tolls_amount',
                 'improvement_surcharge',
                 'total_amount',
                 'payment_type',
                 'congestion_surcharge'
]

In [18]:
from pyspark.sql import functions as F

In [19]:
df_green_sel = df_green\
    .select(common_cols)\
    .withColumn('service_type',F.lit('green'))

In [20]:
df_yellow_sel = df_yellow\
    .select(common_cols)\
    .withColumn('service_type',F.lit('yellow'))

In [21]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [22]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [23]:
df_trips_data.registerTempTable('trips_data')

C:\Users\crab\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [24]:
spark.sql("""
SELECT * FROM trips_data LIMIT 10;
""").show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-01-14 13:28:09|2020-01-14 13:35:19|                 N|         1|          74|          75|              1|         1.35|        7.0|  0.0|    0.5|      1.56|         0.0|                  0.3|        9.36|           1|                 0.0|       green|
|       2|2020-01-28 12:11:44|2020-01-28 12:25:21|                 N|         1|         129|         179|              1|         3.73|       13.5|  0.0|    0.5|       1.0|         0.0|                  0.3|        15.3|           1|                 0.0|       green|
|    NULL|2020-01-04 11:38:00|2020-01-04 12:11:00|              NULL|      NULL|          25|          41|           NULL|        11.19|      28.38|  0.0|    0.5|       0.0|         0.0|                  0.0|       28.88|        NULL|                NULL|       green|
|       2|2020-01-30 10:03:36|2020-01-30 10:09:55|                 N|         5|         182|         242|              1|         1.32|       12.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        12.3|           1|                 0.0|       green|
|       1|2020-01-30 20:56:17|2020-01-30 21:00:18|                 N|         1|         210|         210|              1|          0.8|        5.0|  0.5|    0.5|       0.7|         0.0|                  0.3|         7.0|           1|                 0.0|       green|
|       2|2020-01-06 14:40:15|2020-01-06 14:51:55|                 N|         1|          33|          66|              1|         1.24|        8.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|       green|
|       2|2020-01-09 18:01:49|2020-01-09 18:05:28|                 N|         1|          42|         116|              1|         0.52|        4.5|  1.0|    0.5|       0.0|         0.0|                  0.3|         6.3|           2|                 0.0|       green|
|       2|2020-01-29 04:39:21|2020-01-29 04:42:02|                 N|         1|         116|         116|              1|         0.58|        4.5|  0.5|    0.5|      0.01|         0.0|                  0.3|        5.81|           1|                 0.0|       green|
|    NULL|2020-01-09 15:01:00|2020-01-09 15:28:00|              NULL|      NULL|         223|          92|           NULL|         6.79|      20.81|  0.0|    0.0|       0.0|         0.0|                  0.3|       21.11|        NULL|                NULL|       green|
|       2|2020-01-31 08:32:25|2020-01-31 09:27:29|                 N|         1|          55|          55|              1|         9.69|       37.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        38.3|           2|                 0.0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [25]:
spark.sql("""
SELECT 
    service_type,
    count (1)
FROM 
    trips_data 
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [26]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [27]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         252|2020-02-01 00:00:00|       green|   4542.539999999999|                289.5|                   22.0|                     16.52|           265.4500000000001|                   43.199999999999946|           5181.159999999999|                                 0.0|        1.1111111111111112|       7.692185430463573|
|         206|2020-02-01 00:00:00|       green|   829.9700000000003|                 33.0|                    1.5|                     23.34|                      190.88|                    4.499999999999999|          1083.1899999999998|                                 0.0|                       1.0|      15.768666666666663|
|          56|2020-03-01 00:00:00|       green|   8210.530000000002|                80.25|                  110.0|        107.07999999999997|           302.1700000000002|                   146.39999999999984|           8988.480000000009|                                 5.5|        1.2560553633217992|      3.9149448529411757|
|          79|2020-03-01 00:00:00|       green|               644.4|                  5.5|                    0.5|                       0.0|                        30.6|                    5.999999999999998|           686.9999999999999|                                 0.0|                       1.0|      10.836500000000001|
|          58|2020-03-01 00:00:00|       green|  380.40999999999997|                 3.75|                    4.0|                     10.86|                        6.12|                    5.699999999999998|          410.84000000000003|                                 0.0|                       1.0|      6.1747826086956525|
|         166|2021-06-01 00:00:00|       green|  35136.959999999985|               1359.6|                 1268.0|         4529.260000000003|           747.5199999999992|                    830.9999999999653|           45920.04000000083|                              2271.5|        1.2098668754894284|      13.655554355651544|
|         189|2021-06-01 00:00:00|       green|   4480.379999999997|                287.6|                   23.0|         299.5999999999999|          36.300000000000004|                   56.999999999999815|           5220.080000000006|                               13.75|        1.1590909090909092|      423.33326315789486|
|          67|2021-05-01 00:00:00|       green|  2615.2800000000007|                280.5|                    4.0|                      5.41|          122.99999999999999|                    33.30000000000004|          3061.4900000000007|                                 0.0|        1.1111111111111112|       4.516936936936937|
|         173|2020-01-01 00:00:00|       green|            15830.27|                862.0|                  377.0|                    262.91|           384.5300000000002|                    297.3000000000055|           18040.70999999979|                               30.25|        1.4243589743589744|       3.201485608170845|
|          31|2020-01-01 00:00:00|       green|  2036.7800000000004|                104.5|                   28.5|                    133.47|           68.55999999999999|                   27.900000000000045|          2427.2099999999996|                                27.5|        1.1551724137931034|       5.635959595959594|
|         126|2020-02-01 00:00:00|       green|   7159.769999999997|                583.0|                   80.0|        29.729999999999997|           234.4400000000001|                    97.49999999999943|           8191.340000000011|                                 0.0|        1.1764705882352942|       4.280221606648202|
|         246|2020-02-01 00:00:00|       green|              505.92|                 38.5|                    0.0|                      6.32|                       26.76|                    4.199999999999999|                       581.7|                                 0.0|                       2.0|      11.361428571428572|
|         171|2020-03-01 00:00:00|       green|   5354.580000000002|                27.25|                   21.0|        19.990000000000002|           316.6800000000002|                    63.59999999999975|           5846.900000000005|                                8.25|        1.2105263157894737|       7.585023041474654|
|         146|2020-10-01 00:00:00|       green|  2839.5899999999992|                33.75|                   60.0|                    262.12|                       36.72|                   50.699999999999875|          3340.6300000000037|                               57.75|        1.7016129032258065|       628.7997041420119|
|         198|2020-10-01 00:00:00|       green|   2648.759999999999|                 5.25|                    8.0|                    277.08|                       73.44|                   33.900000000000034|          3051.9299999999994|                                2.75|        1.0476190476190477|       4.569911504424777|
|         174|2021-05-01 00:00:00|       green|   9594.080000000004|               869.65|                   28.0|         87.25000000000001|          360.37000000000006|                   113.99999999999963|           11061.60000000001|                                2.75|        1.3220338983050848|       5.810813648293961|
|           6|2021-05-01 00:00:00|       green|               162.3|                 2.75|                    1.0|                       0.0|                        26.2|                   0.8999999999999999|                      193.15|                                 0.0|                       4.0|      15.856666666666667|
|          38|2020-01-01 00:00:00|       green|  12386.740000000013|                698.0|                   67.0|                       0.0|           281.5200000000001|                   116.69999999999925|          13549.959999999981|                                 0.0|        1.2823529411764707|        7.61892523364486|
|         165|2020-01-01 00:00:00|       green|  24802.129999999976|               1549.0|                  189.5|        101.14999999999999|           495.9500000000004|                   268.80000000000445|           27427.27999999993|                                11.0|        1.1891891891891893|       4.462666025024065|
|         167|2020-03-01 00:00:00|       green|   8938.820000000002|               108.75|                  120.0|                     57.73|           366.3200000000002|                   155.40000000000018|           9815.470000000005|                                19.0|        1.1972789115646258|       4.020965391621126|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [28]:
df_result.registerTempTable('df_result_data')

In [29]:
spark.sql("""
SELECT 
    service_type,
    count (1)
FROM 
    df_result_data 
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green|    4792|
|      yellow|    5103|
+------------+--------+